a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Cambia el color de fondo a tu elección */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    /* Cambio de color al pasar el cursor por encima */
    a:hover {
        background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor */
    }
